# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Project Files
.idea
src
docs
test
coverage
tsconfig.json
tsdown.config.ts
vitest.config.ts
biome.json
.gitignore
