@theme {
  --carousel-radius: var(--radius-xl); /* 28px for M3 Carousel Items */
}

@utility carousel {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2); /* 8px */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: calc(var(--spacing) * 4);

  /* Hide scrollbar */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility carousel-item {
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: var(--carousel-radius);
  overflow: hidden;
  position: relative;
}
