@theme {
  --air-group-radius-outer: calc(var(--air-button-height) / 2);
  --air-group-radius-inner: var(--radius-sm);
  --air-group-gap: calc(var(--spacing) * 0.5);
}

/* Base Group Structure (DRY utility for border radii and z-index stacking) */
@utility air-group-base {
  @apply inline-flex items-center;

  --air-segment-outer-radius: var(--air-group-outer-radius, var(--air-group-radius-outer));
  gap: var(--air-group-gap);

  & > :is(input, button, select) {
    @apply air-segment-row;
  }
  & > :has(input, button, select) :is(input, button, select) {
    @apply air-segment-base;

    &:not(:hover, :active, :focus),
    &:disabled {
      @apply air-segment-inner;
    }
  }
  & > :first-child:is(input, button, select),
  & > :first-child:has(input, button, select) :is(input, button, select) {
    @apply air-segment-row-start;
  }
  & > :last-child:is(input, button, select),
  & > :last-child:has(input, button, select) :is(input, button, select) {
    @apply air-segment-row-end;
  }

  & :is(input, button, select):focus-visible {
    z-index: 1;
  }
}

/* Container for standard buttons */
@utility air-button-group {
  @apply air-group-base;
  --air-group-outer-radius: var(--air-group-radius-outer);
  --air-group-inner-radius: var(--air-group-radius-inner);
}
