@theme {
  --air-code-block-radius: var(--radius-xl);
  --air-code-block-bg: var(--color-surface-container-low);
  --air-code-block-fg: var(--color-on-surface);
  --air-code-block-error-fg: var(--color-error);
}

@utility air-code-block {
  @apply w-full select-text relative;
  border-radius: var(--air-code-block-radius);
  background-color: var(--air-code-block-bg);
  color: var(--air-code-block-fg);

  pre {
    @apply w-auto m-0 p-4 md:p-6 outline-none;
    background-color: transparent !important;
  }

  code {
    @apply font-mono text-sm leading-relaxed outline-none;
  }
}

@utility air-code-block-inner {
  @apply relative z-0 w-full overflow-auto;
}

@utility air-code-block-copy {
  @apply absolute z-10 top-2 right-2;
}

@utility air-code-block-pending {
  @apply flex items-center justify-center p-4;

  & > .air-progress-circular {
    @apply w-8 h-8;
  }
}

@utility air-code-block-error {
  @apply flex items-center gap-2;
  @apply text-sm px-4 py-2;
  color: var(--air-code-block-error-fg);
}
