@theme {
  --air-color-picker-width: calc(var(--spacing) * 10);
  --air-color-picker-height: calc(var(--spacing) * 10);
}

@utility air-color-picker {
  @apply appearance-none p-0 cursor-pointer;
  @apply air-focus-ring;
  width: var(--air-color-picker-width);
  height: var(--air-color-picker-height);
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  border-radius: var(--radius-md);
  transition-property: outline-color;
  transition-duration: var(--duration-short);
  transition-timing-function: var(--ease-standard);

  &::-webkit-color-swatch-wrapper {
    padding-block: 0;
    padding-inline: 0;
  }

  &::-webkit-color-swatch {
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: var(--radius-md);
  }

  &::-moz-color-swatch {
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: var(--radius-md);
  }
}
