@theme {
  --air-divider-thickness: 1px;
  --air-divider-inset-margin: calc(var(--spacing) * 4); /* 16px */
  
  --air-divider-surface-bg: var(--color-outline-variant);
  --air-divider-primary-surface-bg: var(--color-primary);
}

/* Layout utilities */
@utility air-divider-base {
  @apply m-0 box-border;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

@utility air-divider-horizontal-layout {
  @apply w-full;
  height: var(--air-divider-thickness);
}

@utility air-divider-vertical-layout {
  @apply h-full;
  width: var(--air-divider-thickness);
}

@utility air-divider-inset-layout {
  width: calc(100% - var(--air-divider-inset-margin));
  margin-inline-start: var(--air-divider-inset-margin);
}

/* Visual utilities */
@utility air-divider-surface {
  background-color: var(--air-divider-surface-bg);
}

@utility air-divider-primary-surface {
  background-color: var(--air-divider-primary-surface-bg);
}

/* Composed Utilities */
@utility air-divider {
  @apply air-divider-base air-divider-horizontal-layout air-divider-surface;
}

@utility air-divider-vertical {
  @apply air-divider-base air-divider-vertical-layout air-divider-surface;
}

@utility air-divider-inset {
  @apply air-divider-base air-divider-horizontal-layout air-divider-inset-layout air-divider-surface;
}
