@theme {
  --air-progress-linear-height: var(--spacing); /* 4px */
}

/* Linear Progress */
@utility air-progress-linear-base {
  @apply relative w-full overflow-hidden;
  height: var(--air-progress-linear-height);
  border-radius: var(--radius-full);
}

@utility air-progress-linear-surface {
  background-color: var(--color-surface-container-highest);
}

@utility air-progress-linear-bar {
  @apply absolute inset-y-0 left-0;
  transition: width var(--duration-short) var(--ease-standard);
}

@utility air-progress-linear-primary {
  background-color: var(--color-primary);
}

@utility air-progress-linear-indeterminate {
  width: 50%;
  animation: air-indeterminate-linear 1.5s infinite linear;
  transform-origin: left;
}

@keyframes air-indeterminate-linear {
  0% {
    transform: translateX(-100%) scaleX(0.2);
  }
  50% {
    transform: translateX(0) scaleX(0.5);
  }
  100% {
    transform: translateX(200%) scaleX(0.2);
  }
}

/* Circular Progress */
@utility air-progress-circular-base {
  width: calc(var(--spacing) * 12); /* 48px */
  height: calc(var(--spacing) * 12);
}

@utility air-progress-circular-indeterminate {
  animation: air-indeterminate-circular-spin 2s linear infinite;
}

@utility air-progress-circular-circle {
  stroke-width: 4px;
  stroke-linecap: round;
  fill: transparent;
  transition: stroke-dasharray var(--duration-short) var(--ease-standard);
}

@utility air-progress-circular-primary {
  stroke: var(--color-primary);
}

@utility air-progress-circular-circle-indeterminate {
  animation: air-indeterminate-circular-dash 1.5s ease-in-out infinite;
}

@keyframes air-indeterminate-circular-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes air-indeterminate-circular-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* Composed Utilities */
@utility air-progress-linear {
  @apply air-progress-linear-base air-progress-linear-surface;
}

@utility air-progress-circular {
  @apply air-progress-circular-base;
}
