/* Reset for input elements such as type="color" */
@utility input-color-reset {
  appearance: none;
  --webkit-appearance: none;
  padding: 0;
  border: none;
  overflow: hidden;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: inherit;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: inherit;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
