/* Base State Layer Utility */
@utility air-state-layer {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    border-radius: inherit;
    transition-property: opacity, background-color;
    transition-duration: var(--duration-short);
    transition-timing-function: var(--ease-standard);

    /* By default, state layers use the on-surface color, but components can override this */
    background-color: var(--state-layer-color, var(--color-on-surface));
  }
  &:hover::before {
    opacity: var(--opacity-hover);
  }
  &:focus-visible::before {
    opacity: var(--opacity-focus);
  }
  &:active::before {
    opacity: var(--opacity-pressed);
  }
}

@utility air-focus-ring {
  outline-width: var(--focus-ring-width);
  outline-style: solid;
  outline-color: oklch(from var(--color-secondary) l c h / 0);
  outline-offset: var(--focus-ring-offset);

  &:focus-visible {
    outline-color: var(--color-secondary);
  }
}
