@theme {
  /* Typography Scale */
  --font-base: 1rem;

  /* Label */
  --font-label-large-size: calc(var(--font-base) * 0.875);
  --font-label-large-weight: 500;
  --font-label-large-tracking: calc(var(--font-base) * 0.00625);
  --font-label-large-line-height: calc(var(--font-base) * 1.25);

  --font-label-medium-size: calc(var(--font-base) * 0.75);
  --font-label-medium-weight: 500;
  --font-label-medium-tracking: calc(var(--font-base) * 0.03125);
  --font-label-medium-line-height: var(--font-base);

  --font-label-small-size: calc(var(--font-base) * 0.6875);
  --font-label-small-weight: 500;
  --font-label-small-tracking: calc(var(--font-base) * 0.03125);
  --font-label-small-line-height: var(--font-base);

  /* Body */
  --font-body-large-size: var(--font-base);
  --font-body-large-weight: 400;
  --font-body-large-tracking: calc(var(--font-base) * 0.03125);
  --font-body-large-line-height: calc(var(--font-base) * 1.5);

  --font-body-medium-size: calc(var(--font-base) * 0.875);
  --font-body-medium-weight: 400;
  --font-body-medium-tracking: calc(var(--font-base) * 0.015625);
  --font-body-medium-line-height: calc(var(--font-base) * 1.25);

  --font-body-small-size: calc(var(--font-base) * 0.75);
  --font-body-small-weight: 400;
  --font-body-small-tracking: calc(var(--font-base) * 0.025);
  --font-body-small-line-height: var(--font-base);

  /* Title */
  --font-title-large-size: calc(var(--font-base) * 1.375);
  --font-title-large-weight: 400;
  --font-title-large-tracking: 0;
  --font-title-large-line-height: calc(var(--font-base) * 1.75);

  --font-title-medium-size: var(--font-base);
  --font-title-medium-weight: 500;
  --font-title-medium-tracking: calc(var(--font-base) * 0.009375);
  --font-title-medium-line-height: calc(var(--font-base) * 1.5);

  --font-title-small-size: calc(var(--font-base) * 0.875);
  --font-title-small-weight: 500;
  --font-title-small-tracking: calc(var(--font-base) * 0.00625);
  --font-title-small-line-height: calc(var(--font-base) * 1.25);

  /* Headline */
  --font-headline-large-size: calc(var(--font-base) * 2);
  --font-headline-large-weight: 400;
  --font-headline-large-tracking: 0;
  --font-headline-large-line-height: calc(var(--font-base) * 2.5);

  --font-headline-medium-size: calc(var(--font-base) * 1.75);
  --font-headline-medium-weight: 400;
  --font-headline-medium-tracking: 0;
  --font-headline-medium-line-height: calc(var(--font-base) * 2.25);

  --font-headline-small-size: calc(var(--font-base) * 1.5);
  --font-headline-small-weight: 400;
  --font-headline-small-tracking: 0;
  --font-headline-small-line-height: calc(var(--font-base) * 2);

  /* Display */
  --font-display-large-size: calc(var(--font-base) * 3.5625);
  --font-display-large-weight: 400;
  --font-display-large-tracking: calc(var(--font-base) * -0.015625);
  --font-display-large-line-height: calc(var(--font-base) * 4);

  --font-display-medium-size: calc(var(--font-base) * 2.8125);
  --font-display-medium-weight: 400;
  --font-display-medium-tracking: 0;
  --font-display-medium-line-height: calc(var(--font-base) * 3.25);

  --font-display-small-size: calc(var(--font-base) * 2.25);
  --font-display-small-weight: 400;
  --font-display-small-tracking: 0;
  --font-display-small-line-height: calc(var(--font-base) * 2.75);
}

@utility text-display-large {
  font-size: var(--font-display-large-size);
  font-weight: var(--font-display-large-weight);
  letter-spacing: var(--font-display-large-tracking);
  line-height: var(--font-display-large-line-height);
}
@utility text-display-medium {
  font-size: var(--font-display-medium-size);
  font-weight: var(--font-display-medium-weight);
  letter-spacing: var(--font-display-medium-tracking);
  line-height: var(--font-display-medium-line-height);
}
@utility text-display-small {
  font-size: var(--font-display-small-size);
  font-weight: var(--font-display-small-weight);
  letter-spacing: var(--font-display-small-tracking);
  line-height: var(--font-display-small-line-height);
}
@utility text-headline-large {
  font-size: var(--font-headline-large-size);
  font-weight: var(--font-headline-large-weight);
  letter-spacing: var(--font-headline-large-tracking);
  line-height: var(--font-headline-large-line-height);
}
@utility text-headline-medium {
  font-size: var(--font-headline-medium-size);
  font-weight: var(--font-headline-medium-weight);
  letter-spacing: var(--font-headline-medium-tracking);
  line-height: var(--font-headline-medium-line-height);
}
@utility text-headline-small {
  font-size: var(--font-headline-small-size);
  font-weight: var(--font-headline-small-weight);
  letter-spacing: var(--font-headline-small-tracking);
  line-height: var(--font-headline-small-line-height);
}
@utility text-title-large {
  font-size: var(--font-title-large-size);
  font-weight: var(--font-title-large-weight);
  letter-spacing: var(--font-title-large-tracking);
  line-height: var(--font-title-large-line-height);
}
@utility text-title-medium {
  font-size: var(--font-title-medium-size);
  font-weight: var(--font-title-medium-weight);
  letter-spacing: var(--font-title-medium-tracking);
  line-height: var(--font-title-medium-line-height);
}
@utility text-title-small {
  font-size: var(--font-title-small-size);
  font-weight: var(--font-title-small-weight);
  letter-spacing: var(--font-title-small-tracking);
  line-height: var(--font-title-small-line-height);
}
@utility text-body-large {
  font-size: var(--font-body-large-size);
  font-weight: var(--font-body-large-weight);
  letter-spacing: var(--font-body-large-tracking);
  line-height: var(--font-body-large-line-height);
}
@utility text-body-medium {
  font-size: var(--font-body-medium-size);
  font-weight: var(--font-body-medium-weight);
  letter-spacing: var(--font-body-medium-tracking);
  line-height: var(--font-body-medium-line-height);
}
@utility text-body-small {
  font-size: var(--font-body-small-size);
  font-weight: var(--font-body-small-weight);
  letter-spacing: var(--font-body-small-tracking);
  line-height: var(--font-body-small-line-height);
}
@utility text-label-large {
  font-size: var(--font-label-large-size);
  font-weight: var(--font-label-large-weight);
  letter-spacing: var(--font-label-large-tracking);
  line-height: var(--font-label-large-line-height);
}
@utility text-label-medium {
  font-size: var(--font-label-medium-size);
  font-weight: var(--font-label-medium-weight);
  letter-spacing: var(--font-label-medium-tracking);
  line-height: var(--font-label-medium-line-height);
}
@utility text-label-small {
  font-size: var(--font-label-small-size);
  font-weight: var(--font-label-small-weight);
  letter-spacing: var(--font-label-small-tracking);
  line-height: var(--font-label-small-line-height);
}

/* Expressive Emphasized Typography */
@utility text-display-large-emphasized {
  @apply text-display-large;
  font-weight: 500;
}
@utility text-display-medium-emphasized {
  @apply text-display-medium;
  font-weight: 500;
}
@utility text-display-small-emphasized {
  @apply text-display-small;
  font-weight: 500;
}

@utility text-headline-large-emphasized {
  @apply text-headline-large;
  font-weight: 500;
}
@utility text-headline-medium-emphasized {
  @apply text-headline-medium;
  font-weight: 500;
}
@utility text-headline-small-emphasized {
  @apply text-headline-small;
  font-weight: 500;
}

@utility text-title-large-emphasized {
  @apply text-title-large;
  font-weight: 500;
}
@utility text-title-medium-emphasized {
  @apply text-title-medium;
  font-weight: 600;
}
@utility text-title-small-emphasized {
  @apply text-title-small;
  font-weight: 600;
}

@utility text-body-large-emphasized {
  @apply text-body-large;
  font-weight: 500;
}
@utility text-body-medium-emphasized {
  @apply text-body-medium;
  font-weight: 500;
}
@utility text-body-small-emphasized {
  @apply text-body-small;
  font-weight: 500;
}

@utility text-label-large-emphasized {
  @apply text-label-large;
  font-weight: 600;
}
@utility text-label-medium-emphasized {
  @apply text-label-medium;
  font-weight: 600;
}
@utility text-label-small-emphasized {
  @apply text-label-small;
  font-weight: 600;
}
